Resources/wsdl/kober.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:sqloptions="http://schemas.microsoft.com/sqlserver/2004/SOAP/Options"
                  xmlns:s0="https://*/NetVlies" xmlns:tns="https://*/NetVlies" targetNamespace="https://*/NetVlies">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:sqltypes="http://schemas.microsoft.com/sqlserver/2004/sqltypes"
                    targetNamespace="http://schemas.microsoft.com/sqlserver/2004/sqltypes"
                    attributeFormDefault="qualified">
            
            <!-- Global types and attributes that can be used for schema annotations. -->
            <xsd:simpletype name="sqlDbTypeEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="BigInt"/>
                    <xsd:enumeration value="Binary"/>
                    <xsd:enumeration value="Bit"/>
                    <xsd:enumeration value="Char"/>
                    <xsd:enumeration value="DateTime"/>
                    <xsd:enumeration value="Decimal"/>
                    <xsd:enumeration value="Float"/>
                    <xsd:enumeration value="Image"/>
                    <xsd:enumeration value="Int"/>
                    <xsd:enumeration value="Money"/>
                    <xsd:enumeration value="NChar"/>
                    <xsd:enumeration value="NText"/>
                    <!-- The sqlDbTypeEnum aligns with the .Net System.Data.SqlDbType enum and does not provide an entry for Numeric (which is mapped to Decimal). -->
                    <xsd:enumeration value="NVarChar"/>
                    <xsd:enumeration value="Real"/>
                    <xsd:enumeration value="SmallDateTime"/>
                    <xsd:enumeration value="SmallInt"/>
                    <xsd:enumeration value="SmallMoney"/>
                    <xsd:enumeration value="Text"/>
                    <xsd:enumeration value="Timestamp"/>
                    <xsd:enumeration value="TinyInt"/>
                    <xsd:enumeration value="Udt"/>
                    <xsd:enumeration value="UniqueIdentifier"/>
                    <xsd:enumeration value="VarBinary"/>
                    <xsd:enumeration value="VarChar"/>
                    <xsd:enumeration value="Variant"/>
                    <xsd:enumeration value="Xml"/>
                </xsd:restriction>
            </xsd:simpletype>
            <xsd:simpletype name="sqlCompareOptionsEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Default"/>
                    <xsd:enumeration value="None"/>
                    <xsd:enumeration value="IgnoreCase"/>
                    <xsd:enumeration value="IgnoreNonSpace"/>
                    <xsd:enumeration value="IgnoreKanaType"/>
                    <xsd:enumeration value="IgnoreWidth"/>
                    <xsd:enumeration value="BinarySort"/>
                    <xsd:enumeration value="BinarySort2"/>
                </xsd:restriction>
            </xsd:simpletype>
            <xsd:simpletype name="sqlCompareOptionsList">
                <xsd:list itemType="sqltypes:sqlCompareOptionsEnum"/>
            </xsd:simpletype>
            <xsd:attribute default="NVarChar" name="sqlDbType" type="sqltypes:sqlDbTypeEnum"/>
            <xsd:attribute name="clrTypeName" type="xsd:string"/>
            <xsd:attribute default="1" name="maxLength" type="xsd:long"/>
            <xsd:attribute default="-1" name="localeId" type="xsd:int"/>
            <xsd:attribute default="Default" name="sqlCompareOptions" type="sqltypes:sqlCompareOptionsList"/>
            <xsd:attribute default="0" name="sqlCollationVersion" type="xsd:int"/>
            <xsd:attribute default="0" name="sqlSortId" type="xsd:int"/>
            <xsd:attribute default="0" name="scale" type="xsd:unsignedByte"/>
            <xsd:attribute default="18" name="precision" type="xsd:unsignedByte"/>
            <xsd:attribute name="xmlSchemaCollection" type="xsd:string"/>
            <xsd:attribute name="sqlTypeAlias" type="xsd:string"/>
            <!-- Global types that describe the base SQL types. -->
            <xsd:simpletype name="char">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpletype>
            <xsd:simpletype name="nchar">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpletype>
            <xsd:simpletype name="varchar">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpletype>
            <xsd:simpletype name="nvarchar">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpletype>
            <xsd:simpletype name="text">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpletype>
            <xsd:simpletype name="ntext">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpletype>
            <xsd:simpletype name="varbinary">
                <xsd:restriction base="xsd:base64Binary"/>
            </xsd:simpletype>
            <xsd:simpletype name="binary">
                <xsd:restriction base="xsd:base64Binary"/>
            </xsd:simpletype>
            <xsd:simpletype name="image">
                <xsd:restriction base="xsd:base64Binary"/>
            </xsd:simpletype>
            <xsd:simpletype name="timestamp">
                <xsd:restriction base="xsd:base64Binary">
                    <xsd:maxlength value="8"/>
                </xsd:restriction>
            </xsd:simpletype>
            <xsd:simpletype
                    name="timestampNumeric"><!-- The timestampNumeric type supports a legacy format of timestamp. -->
                <xsd:restriction base="xsd:long"/>
            </xsd:simpletype>
            <xsd:simpletype name="decimal">
                <xsd:restriction base="xsd:decimal"/>
            </xsd:simpletype>
            <xsd:simpletype name="numeric">
                <xsd:restriction base="xsd:decimal"/>
            </xsd:simpletype>
            <xsd:simpletype name="bigint">
                <xsd:restriction base="xsd:long"/>
            </xsd:simpletype>
            <xsd:simpletype name="int">
                <xsd:restriction base="xsd:int"/>
            </xsd:simpletype>
            <xsd:simpletype name="smallint">
                <xsd:restriction base="xsd:short"/>
            </xsd:simpletype>
            <xsd:simpletype name="tinyint">
                <xsd:restriction base="xsd:unsignedByte"/>
            </xsd:simpletype>
            <xsd:simpletype name="bit">
                <xsd:restriction base="xsd:boolean"/>
            </xsd:simpletype>
            <xsd:simpletype name="float">
                <xsd:restriction base="xsd:double"/>
            </xsd:simpletype>
            <xsd:simpletype name="real">
                <xsd:restriction base="xsd:float"/>
            </xsd:simpletype>
            <xsd:simpletype name="datetime">
                <xsd:restriction base="xsd:dateTime">
                    <xsd:pattern
                            value="((000[1-9])|(00[1-9][0-9])|(0[1-9][0-9]{2})|([1-9][0-9]{3}))-((0[1-9])|(1[012]))-((0[1-9])|([12][0-9])|(3[01]))T(([01][0-9])|(2[0-3]))(:[0-5][0-9]){2}(\.[0-9]{2}[037])?"/>
                    <xsd:maxinclusive value="9999-12-31T23:59:59.997"/>
                    <xsd:mininclusive value="1753-01-01T00:00:00.000"/>
                </xsd:restriction>
            </xsd:simpletype>
            <xsd:simpletype name="smalldatetime">
                <xsd:restriction base="xsd:dateTime">
                    <xsd:pattern
                            value="((000[1-9])|(00[1-9][0-9])|(0[1-9][0-9]{2})|([1-9][0-9]{3}))-((0[1-9])|(1[012]))-((0[1-9])|([12][0-9])|(3[01]))T(([01][0-9])|(2[0-3]))(:[0-5][0-9])(:00)"/>
                    <xsd:maxinclusive value="2079-06-06T23:59:00"/>
                    <xsd:mininclusive value="1900-01-01T00:00:00"/>
                </xsd:restriction>
            </xsd:simpletype>
            <xsd:simpletype name="money">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totaldigits value="19"/>
                    <xsd:fractiondigits value="4"/>
                    <xsd:maxinclusive value="922337203685477.5807"/>
                    <xsd:mininclusive value="-922337203685477.5808"/>
                </xsd:restriction>
            </xsd:simpletype>
            <xsd:simpletype name="smallmoney">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totaldigits value="10"/>
                    <xsd:fractiondigits value="4"/>
                    <xsd:maxinclusive value="214748.3647"/>
                    <xsd:mininclusive value="-214748.3648"/>
                </xsd:restriction>
            </xsd:simpletype>
            <xsd:simpletype name="uniqueidentifier">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern
                            value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})"/>
                </xsd:restriction>
            </xsd:simpletype>
            <!-- sql_variant directly maps to xsd:anyType -->
            <xsd:complextype name="xml" mixed="true">
                <xsd:sequence>
                    <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                </xsd:sequence>
            </xsd:complextype>
            <!-- the following type is for FOR XML binary URL results only -->
            <xsd:simpletype name="dbobject">
                <xsd:restriction base="xsd:anyURI"/>
            </xsd:simpletype>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                    elementFormDefault="qualified"
                    targetNamespace="http://schemas.microsoft.com/sqlserver/2004/SOAP/types">
            <xsd:complextype name="SqlRowSet">
                <xsd:sequence maxOccurs="unbounded">
                    <xsd:element ref="xsd:schema"/>
                    <xsd:any/>
                </xsd:sequence>
            </xsd:complextype>
            <xsd:complextype name="SqlXml" mixed="true">
                <xsd:sequence>
                    <xsd:any processContents="skip"/>
                </xsd:sequence>
            </xsd:complextype>
            <xsd:simpletype name="SqlResultCode">
                <xsd:restriction base="xsd:int">
                    <xsd:mininclusive value="0"/>
                </xsd:restriction>
            </xsd:simpletype>
            <xsd:attribute name="IsDataSetWithSchema" type="xsd:boolean"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                    elementFormDefault="qualified"
                    targetNamespace="http://schemas.microsoft.com/sqlserver/2004/SOAP/types/SqlTransaction">
            <xsd:complextype name="SqlTransaction">
                <xsd:sequence minOccurs="1" maxOccurs="1">
                    <xsd:element name="Descriptor" type="xsd:base64Binary"/>
                    <xsd:element name="Type">
                        <xsd:simpletype>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Begin"/>
                                <xsd:enumeration value="Commit"/>
                                <xsd:enumeration value="Rollback"/>
                                <xsd:enumeration value="EnlistDTC"/>
                                <xsd:enumeration value="Defect"/>
                            </xsd:restriction>
                        </xsd:simpletype>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complextype>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                    elementFormDefault="qualified"
                    targetNamespace="http://schemas.microsoft.com/sqlserver/2004/SOAP/types/SqlRowCount">
            <xsd:complextype name="SqlRowCount">
                <xsd:sequence minOccurs="1" maxOccurs="1">
                    <xsd:element name="Count" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complextype>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:sqlmessage="http://schemas.microsoft.com/sqlserver/2004/SOAP/types/SqlMessage"
                    attributeFormDefault="qualified" elementFormDefault="qualified"
                    targetNamespace="http://schemas.microsoft.com/sqlserver/2004/SOAP/types/SqlMessage">
            <xsd:simpletype name="nonNegativeInteger">
                <xsd:restriction base="xsd:int">
                    <xsd:mininclusive value="0"/>
                </xsd:restriction>
            </xsd:simpletype>
            <xsd:complextype name="SqlMessage">
                <xsd:sequence minOccurs="1" maxOccurs="1">
                    <xsd:element name="Class" type="sqlmessage:nonNegativeInteger"/>
                    <xsd:element name="LineNumber" type="sqlmessage:nonNegativeInteger"/>
                    <xsd:element name="Message" type="xsd:string"/>
                    <xsd:element name="Number" type="sqlmessage:nonNegativeInteger"/>
                    <xsd:element name="Procedure" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Server" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Source" type="xsd:string"/>
                    <xsd:element name="State" type="sqlmessage:nonNegativeInteger"/>
                </xsd:sequence>
            </xsd:complextype>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:sqlsoaptypes="http://schemas.microsoft.com/sqlserver/2004/SOAP/types"
                    xmlns:sqlmessage="http://schemas.microsoft.com/sqlserver/2004/SOAP/types/SqlMessage"
                    xmlns:sqlrowcount="http://schemas.microsoft.com/sqlserver/2004/SOAP/types/SqlRowCount"
                    xmlns:sqltransaction="http://schemas.microsoft.com/sqlserver/2004/SOAP/types/SqlTransaction"
                    attributeFormDefault="qualified" elementFormDefault="qualified"
                    targetNamespace="http://schemas.microsoft.com/sqlserver/2004/SOAP/types/SqlResultStream">
            <xsd:import namespace="http://schemas.microsoft.com/sqlserver/2004/SOAP/types"/>
            <xsd:import namespace="http://schemas.microsoft.com/sqlserver/2004/SOAP/types/SqlMessage"/>
            <xsd:import namespace="http://schemas.microsoft.com/sqlserver/2004/SOAP/types/SqlRowCount"/>
            <xsd:import namespace="http://schemas.microsoft.com/sqlserver/2004/SOAP/types/SqlTransaction"/>
            <xsd:complextype name="SqlResultStream">
                <xsd:choice minOccurs="1" maxOccurs="unbounded">
                    <xsd:element name="SqlRowSet" type="sqlsoaptypes:SqlRowSet"/>
                    <xsd:element name="SqlXml" type="sqlsoaptypes:SqlXml"/>
                    <xsd:element name="SqlMessage" type="sqlmessage:SqlMessage"/>
                    <xsd:element name="SqlRowCount" type="sqlrowcount:SqlRowCount"/>
                    <xsd:element name="SqlResultCode" type="sqlsoaptypes:SqlResultCode"/>
                    <xsd:element name="SqlTransaction" type="sqltransaction:SqlTransaction"/>
                </xsd:choice>
            </xsd:complextype>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                    elementFormDefault="qualified"
                    targetNamespace="http://schemas.microsoft.com/sqlserver/2004/SOAP/Options">
            <xsd:element name="initialDatabase">
                <xsd:annotation>
                    <xsd:documentation>Set initial database on login.</xsd:documentation>
                </xsd:annotation>
                <xsd:complextype>
                    <xsd:attribute name="value" type="xsd:string" form="unqualified" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The name of the initial database to attach to.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="optional" default="false" type="xsd:boolean" form="unqualified">
                        <xsd:annotation>
                            <xsd:documentation>Whether the initial database is optional or not.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="filename" type="xsd:string" form="unqualified">
                        <xsd:annotation>
                            <xsd:documentation>The filename of the database to attach to.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="initialLanguage">
                <xsd:annotation>
                    <xsd:documentation>Set initial language to set.</xsd:documentation>
                </xsd:annotation>
                <xsd:complextype>
                    <xsd:attribute name="value" type="xsd:string" form="unqualified" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The name of the initial language to set.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="optional" default="false" type="xsd:boolean" form="unqualified">
                        <xsd:annotation>
                            <xsd:documentation>Whether the initial language is optional or not.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="environmentChangeNotifications">
                <xsd:annotation>
                    <xsd:documentation>Receive environment change notifications.</xsd:documentation>
                </xsd:annotation>
                <xsd:complextype>
                    <xsd:attribute name="databaseChange" default="false" type="xsd:boolean" form="unqualified">
                        <xsd:annotation>
                            <xsd:documentation>Receive notifications of database changes.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="languageChange" default="false" type="xsd:boolean" form="unqualified">
                        <xsd:annotation>
                            <xsd:documentation>Receive notifications of language changes.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="transactionBoundary" default="false" type="xsd:boolean" form="unqualified">
                        <xsd:annotation>
                            <xsd:documentation>Receive notifications of transaction boundaries.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="applicationName">
                <xsd:annotation>
                    <xsd:documentation>Set the application name for the login.</xsd:documentation>
                </xsd:annotation>
                <xsd:complextype>
                    <xsd:attribute name="value" type="xsd:string" form="unqualified" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The application name to set for the login.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="hostName">
                <xsd:annotation>
                    <xsd:documentation>Set the host name for the login.</xsd:documentation>
                </xsd:annotation>
                <xsd:complextype>
                    <xsd:attribute name="value" type="xsd:string" form="unqualified" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The host name to set for the login.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="clientPID">
                <xsd:annotation>
                    <xsd:documentation>Set the client process ID for the login.</xsd:documentation>
                </xsd:annotation>
                <xsd:complextype>
                    <xsd:attribute name="value" type="xsd:long" form="unqualified" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The client process ID to set for the login.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="clientNetworkID">
                <xsd:annotation>
                    <xsd:documentation>Set the client network ID for the login.</xsd:documentation>
                </xsd:annotation>
                <xsd:complextype>
                    <xsd:attribute name="value" type="xsd:base64Binary" form="unqualified" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The client network ID to set for the login.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="clientInterface">
                <xsd:annotation>
                    <xsd:documentation>Set the client interface for the login.</xsd:documentation>
                </xsd:annotation>
                <xsd:complextype>
                    <xsd:attribute name="value" type="xsd:string" form="unqualified" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The client interface to set for the login.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="notificationRequest">
                <xsd:annotation>
                    <xsd:documentation>Requests query notifications for the request.</xsd:documentation>
                </xsd:annotation>
                <xsd:complextype>
                    <xsd:attribute name="notificationId" type="xsd:string" form="unqualified" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The notification identifier.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="deliveryService" type="xsd:string" form="unqualified" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The delivery service.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="timeout" type="xsd:integer" form="unqualified">
                        <xsd:annotation>
                            <xsd:documentation>The timeout value.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="sqlSession">
                <xsd:annotation>
                    <xsd:documentation>SQL Server SOAP Session</xsd:documentation>
                </xsd:annotation>
                <xsd:complextype>
                    <xsd:attribute name="initiate" default="false" type="xsd:boolean" form="unqualified">
                        <xsd:annotation>
                            <xsd:documentation>Set to 'true' to request to start a new session.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="terminate" default="false" type="xsd:boolean" form="unqualified">
                        <xsd:annotation>
                            <xsd:documentation>Set to 'true' to request to terminate an existing session.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="sessionId" type="xsd:base64Binary" form="unqualified">
                        <xsd:annotation>
                            <xsd:documentation>The ID of a session.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="timeout" type="xsd:int" form="unqualified">
                        <xsd:annotation>
                            <xsd:documentation>The timeout in seconds before the session expires.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="transactionDescriptor" type="xsd:base64Binary" form="unqualified">
                        <xsd:annotation>
                            <xsd:documentation>The descriptor of a transaction to enlist to.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complextype>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:sqlparameter="http://schemas.microsoft.com/sqlserver/2004/SOAP/types/SqlParameter"
                    xmlns:sqltypes="http://schemas.microsoft.com/sqlserver/2004/sqltypes"
                    targetNamespace="http://schemas.microsoft.com/sqlserver/2004/SOAP/types/SqlParameter"
                    elementFormDefault="qualified" attributeFormDefault="qualified">
            <xsd:import namespace="http://schemas.microsoft.com/sqlserver/2004/sqltypes"/>
            <xsd:simpletype name="ParameterDirection">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Input"/>
                    <xsd:enumeration value="InputOutput"/>
                </xsd:restriction>
            </xsd:simpletype>
            <xsd:complextype name="ArrayOfSqlParameter">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="SqlParameter"
                                 type="sqlparameter:SqlParameter"/>
                </xsd:sequence>
            </xsd:complextype>
            <xsd:complextype name="SqlParameter">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="Value" nillable="true"/>
                </xsd:sequence>
                <xsd:attribute name="name" type="xsd:string" use="required" form="unqualified"/>
                <xsd:attribute default="NVarChar" name="sqlDbType" type="sqltypes:sqlDbTypeEnum" use="optional"
                               form="unqualified"/>
                <xsd:attribute default="Input" name="direction" type="sqlparameter:ParameterDirection" use="optional"
                               form="unqualified"/>
                <xsd:attribute default="1" name="maxLength" type="xsd:long" use="optional" form="unqualified"/>
                <xsd:attribute default="18" name="precision" type="xsd:unsignedByte" use="optional" form="unqualified"/>
                <xsd:attribute default="0" name="scale" type="xsd:unsignedByte" use="optional" form="unqualified"/>
                <xsd:attribute default="" name="clrTypeName" type="xsd:string" use="optional" form="unqualified"/>
                <xsd:attribute default="Default" name="sqlCompareOptions" type="sqltypes:sqlCompareOptionsList"
                               use="optional" form="unqualified"/>
                <xsd:attribute default="-1" name="localeId" type="xsd:int" use="optional" form="unqualified"/>
                <xsd:attribute default="0" name="sqlCollationVersion" type="xsd:int" use="optional" form="unqualified"/>
                <xsd:attribute default="0" name="sqlSortId" type="xsd:int" use="optional" form="unqualified"/>
                <xsd:attribute default="" name="xmlSchemaCollection" type="xsd:string" use="optional"
                               form="unqualified"/>
            </xsd:complextype>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:sqltypes="http://schemas.microsoft.com/sqlserver/2004/sqltypes"
                    xmlns:sqlsoaptypes="http://schemas.microsoft.com/sqlserver/2004/SOAP/types"
                    xmlns:sqlrowcount="http://schemas.microsoft.com/sqlserver/2004/SOAP/types/SqlRowCount"
                    xmlns:sqlmessage="http://schemas.microsoft.com/sqlserver/2004/SOAP/types/SqlMessage"
                    xmlns:sqlresultstream="http://schemas.microsoft.com/sqlserver/2004/SOAP/types/SqlResultStream"
                    xmlns:sqlparameter="http://schemas.microsoft.com/sqlserver/2004/SOAP/types/SqlParameter"
                    attributeFormDefault="qualified" elementFormDefault="qualified"
                    targetNamespace="https://*/NetVlies">
            <xsd:import namespace="http://schemas.microsoft.com/sqlserver/2004/sqltypes"/>
            <xsd:import namespace="http://schemas.microsoft.com/sqlserver/2004/SOAP/types"/>
            <xsd:element name="GetContactSchool">
                <xsd:complextype>
                    <xsd:sequence/>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="GetContactSchoolResponse">
                <xsd:complextype>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" nillable="false" name="GetContactSchoolResult"
                                     type="sqlsoaptypes:SqlRowSet"/>
                    </xsd:sequence>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="GetGastouders">
                <xsd:complextype>
                    <xsd:sequence/>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="GetGastoudersResponse">
                <xsd:complextype>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" nillable="false" name="GetGastoudersResult"
                                     type="sqlsoaptypes:SqlRowSet"/>
                    </xsd:sequence>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="GetKindGegevens">
                <xsd:complextype>
                    <xsd:sequence/>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="GetKindGegevensResponse">
                <xsd:complextype>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" nillable="false" name="GetKindGegevensResult"
                                     type="sqlsoaptypes:SqlRowSet"/>
                    </xsd:sequence>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="GetKoppelingen">
                <xsd:complextype>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="datum" type="sqltypes:datetime" nillable="true"/>
                    </xsd:sequence>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="GetKoppelingenResponse">
                <xsd:complextype>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" nillable="false" name="GetKoppelingenResult"
                                     type="sqlsoaptypes:SqlRowSet"/>
                    </xsd:sequence>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="GetLocatieSchool">
                <xsd:complextype>
                    <xsd:sequence/>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="GetLocatieSchoolResponse">
                <xsd:complextype>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" nillable="false" name="GetLocatieSchoolResult"
                                     type="sqlsoaptypes:SqlRowSet"/>
                    </xsd:sequence>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="GetLocaties">
                <xsd:complextype>
                    <xsd:sequence/>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="GetLocatiesResponse">
                <xsd:complextype>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" nillable="false" name="GetLocatiesResult"
                                     type="sqlsoaptypes:SqlRowSet"/>
                    </xsd:sequence>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="GetOuderGegevens">
                <xsd:complextype>
                    <xsd:sequence/>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="GetOuderGegevensResponse">
                <xsd:complextype>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" nillable="false" name="GetOuderGegevensResult"
                                     type="sqlsoaptypes:SqlRowSet"/>
                    </xsd:sequence>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="GetPlaatsingen">
                <xsd:complextype>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="datum" type="sqltypes:datetime" nillable="true"/>
                    </xsd:sequence>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="GetPlaatsingenResponse">
                <xsd:complextype>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" nillable="false" name="GetPlaatsingenResult"
                                     type="sqlsoaptypes:SqlRowSet"/>
                    </xsd:sequence>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="GetScholen">
                <xsd:complextype>
                    <xsd:sequence/>
                </xsd:complextype>
            </xsd:element>
            <xsd:element name="GetScholenResponse">
                <xsd:complextype>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" nillable="false" name="GetScholenResult"
                                     type="sqlsoaptypes:SqlRowSet"/>
                    </xsd:sequence>
                </xsd:complextype>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="s0MsgGetContactSchoolSoapIn">
        <wsdl:part name="parameters" element="s0:GetContactSchool"/>
    </wsdl:message>
    <wsdl:message name="s0MsgGetContactSchoolSoapOut">
        <wsdl:part name="parameters" element="s0:GetContactSchoolResponse"/>
    </wsdl:message>
    <wsdl:message name="s0MsgGetGastoudersSoapIn">
        <wsdl:part name="parameters" element="s0:GetGastouders"/>
    </wsdl:message>
    <wsdl:message name="s0MsgGetGastoudersSoapOut">
        <wsdl:part name="parameters" element="s0:GetGastoudersResponse"/>
    </wsdl:message>
    <wsdl:message name="s0MsgGetKindGegevensSoapIn">
        <wsdl:part name="parameters" element="s0:GetKindGegevens"/>
    </wsdl:message>
    <wsdl:message name="s0MsgGetKindGegevensSoapOut">
        <wsdl:part name="parameters" element="s0:GetKindGegevensResponse"/>
    </wsdl:message>
    <wsdl:message name="s0MsgGetKoppelingenSoapIn">
        <wsdl:part name="parameters" element="s0:GetKoppelingen"/>
    </wsdl:message>
    <wsdl:message name="s0MsgGetKoppelingenSoapOut">
        <wsdl:part name="parameters" element="s0:GetKoppelingenResponse"/>
    </wsdl:message>
    <wsdl:message name="s0MsgGetLocatieSchoolSoapIn">
        <wsdl:part name="parameters" element="s0:GetLocatieSchool"/>
    </wsdl:message>
    <wsdl:message name="s0MsgGetLocatieSchoolSoapOut">
        <wsdl:part name="parameters" element="s0:GetLocatieSchoolResponse"/>
    </wsdl:message>
    <wsdl:message name="s0MsgGetLocatiesSoapIn">
        <wsdl:part name="parameters" element="s0:GetLocaties"/>
    </wsdl:message>
    <wsdl:message name="s0MsgGetLocatiesSoapOut">
        <wsdl:part name="parameters" element="s0:GetLocatiesResponse"/>
    </wsdl:message>
    <wsdl:message name="s0MsgGetOuderGegevensSoapIn">
        <wsdl:part name="parameters" element="s0:GetOuderGegevens"/>
    </wsdl:message>
    <wsdl:message name="s0MsgGetOuderGegevensSoapOut">
        <wsdl:part name="parameters" element="s0:GetOuderGegevensResponse"/>
    </wsdl:message>
    <wsdl:message name="s0MsgGetPlaatsingenSoapIn">
        <wsdl:part name="parameters" element="s0:GetPlaatsingen"/>
    </wsdl:message>
    <wsdl:message name="s0MsgGetPlaatsingenSoapOut">
        <wsdl:part name="parameters" element="s0:GetPlaatsingenResponse"/>
    </wsdl:message>
    <wsdl:message name="s0MsgGetScholenSoapIn">
        <wsdl:part name="parameters" element="s0:GetScholen"/>
    </wsdl:message>
    <wsdl:message name="s0MsgGetScholenSoapOut">
        <wsdl:part name="parameters" element="s0:GetScholenResponse"/>
    </wsdl:message>
    <wsdl:porttype name="NetVliesSoap">
        <wsdl:operation name="GetContactSchool">
            <wsdl:input name="s0MsgGetContactSchoolSoapIn" message="tns:s0MsgGetContactSchoolSoapIn"/>
            <wsdl:output name="s0MsgGetContactSchoolSoapOut" message="tns:s0MsgGetContactSchoolSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetGastouders">
            <wsdl:input name="s0MsgGetGastoudersSoapIn" message="tns:s0MsgGetGastoudersSoapIn"/>
            <wsdl:output name="s0MsgGetGastoudersSoapOut" message="tns:s0MsgGetGastoudersSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetKindGegevens">
            <wsdl:input name="s0MsgGetKindGegevensSoapIn" message="tns:s0MsgGetKindGegevensSoapIn"/>
            <wsdl:output name="s0MsgGetKindGegevensSoapOut" message="tns:s0MsgGetKindGegevensSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetKoppelingen">
            <wsdl:input name="s0MsgGetKoppelingenSoapIn" message="tns:s0MsgGetKoppelingenSoapIn"/>
            <wsdl:output name="s0MsgGetKoppelingenSoapOut" message="tns:s0MsgGetKoppelingenSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetLocatieSchool">
            <wsdl:input name="s0MsgGetLocatieSchoolSoapIn" message="tns:s0MsgGetLocatieSchoolSoapIn"/>
            <wsdl:output name="s0MsgGetLocatieSchoolSoapOut" message="tns:s0MsgGetLocatieSchoolSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetLocaties">
            <wsdl:input name="s0MsgGetLocatiesSoapIn" message="tns:s0MsgGetLocatiesSoapIn"/>
            <wsdl:output name="s0MsgGetLocatiesSoapOut" message="tns:s0MsgGetLocatiesSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetOuderGegevens">
            <wsdl:input name="s0MsgGetOuderGegevensSoapIn" message="tns:s0MsgGetOuderGegevensSoapIn"/>
            <wsdl:output name="s0MsgGetOuderGegevensSoapOut" message="tns:s0MsgGetOuderGegevensSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetPlaatsingen">
            <wsdl:input name="s0MsgGetPlaatsingenSoapIn" message="tns:s0MsgGetPlaatsingenSoapIn"/>
            <wsdl:output name="s0MsgGetPlaatsingenSoapOut" message="tns:s0MsgGetPlaatsingenSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetScholen">
            <wsdl:input name="s0MsgGetScholenSoapIn" message="tns:s0MsgGetScholenSoapIn"/>
            <wsdl:output name="s0MsgGetScholenSoapOut" message="tns:s0MsgGetScholenSoapOut"/>
        </wsdl:operation>
    </wsdl:porttype>
    <wsdl:binding name="NetVliesSoap" type="tns:NetVliesSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="GetContactSchool">
            <soap:operation soapAction="https://*/NetVliesGetContactSchool" style="document"/>
            <wsdl:input name="s0MsgGetContactSchoolSoapIn">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="s0MsgGetContactSchoolSoapOut">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetGastouders">
            <soap:operation soapAction="https://*/NetVliesGetGastouders" style="document"/>
            <wsdl:input name="s0MsgGetGastoudersSoapIn">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="s0MsgGetGastoudersSoapOut">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetKindGegevens">
            <soap:operation soapAction="https://*/NetVliesGetKindGegevens" style="document"/>
            <wsdl:input name="s0MsgGetKindGegevensSoapIn">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="s0MsgGetKindGegevensSoapOut">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetKoppelingen">
            <soap:operation soapAction="https://*/NetVliesGetKoppelingen" style="document"/>
            <wsdl:input name="s0MsgGetKoppelingenSoapIn">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="s0MsgGetKoppelingenSoapOut">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLocatieSchool">
            <soap:operation soapAction="https://*/NetVliesGetLocatieSchool" style="document"/>
            <wsdl:input name="s0MsgGetLocatieSchoolSoapIn">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="s0MsgGetLocatieSchoolSoapOut">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLocaties">
            <soap:operation soapAction="https://*/NetVliesGetLocaties" style="document"/>
            <wsdl:input name="s0MsgGetLocatiesSoapIn">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="s0MsgGetLocatiesSoapOut">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOuderGegevens">
            <soap:operation soapAction="https://*/NetVliesGetOuderGegevens" style="document"/>
            <wsdl:input name="s0MsgGetOuderGegevensSoapIn">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="s0MsgGetOuderGegevensSoapOut">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetPlaatsingen">
            <soap:operation soapAction="https://*/NetVliesGetPlaatsingen" style="document"/>
            <wsdl:input name="s0MsgGetPlaatsingenSoapIn">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="s0MsgGetPlaatsingenSoapOut">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetScholen">
            <soap:operation soapAction="https://*/NetVliesGetScholen" style="document"/>
            <wsdl:input name="s0MsgGetScholenSoapIn">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="s0MsgGetScholenSoapOut">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NetVlies">
        <wsdl:port name="NetVlies" binding="tns:NetVliesSoap">
            <soap:address location="https://flexkids.kober.nl/NetVlies"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>